.title {
  padding: 20px;
  font-size: 48px;
}

.title, .headerTable {
  text-align: center;
}

.titleMovie {
  width: 20%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}
