.title {
  padding: 20px;
  font-size: 48px;
}

.title {
  text-align: center;
}

th, td {
  vertical-align: bottom;
}

.titleMovie {
  width: 20%;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.movie-backdrop {
  max-width: 200px;
  max-height: 150px;
}

.genre {
  padding: 10px 0;
}

.five-stars {
  display: flex;
  height: 55px;
}

.stars {
  width: 120px;
}

.vote-average {
  color: #ffca00;
  opacity: 0.9;
  padding-top: 7px;
}

.average-rating {
  position: relative;
  appearance: none;
  color: transparent;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  font-size: 25px;
}

.average-rating::before {
  content: '★★★★★';
  position: absolute;
  top: 0;
  left: 0;
  color: rgba(0,0,0,0.2);
  background:
              linear-gradient(90deg, gold var(--percent), rgba(0,0,0,0.2) var(--percent));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
}

.select {
  width: 400px !important;
}