.title {
  padding: 20px;
  font-size: 48px;
}

.title, .headerTable {
  text-align: center;
}

th, td {
  vertical-align: bottom;
}

.titleMovie {
  width: 20%;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
}

.movie-backdrop {
  max-width: 200px;
  max-height: 150px;
}

.genre {
  padding-bottom: 10px;
}

.five-stars {
  display: flex;
  height: 55px;
}

.stars {
  width: 120px;
}

.vote-average {
  color: #ffca00;
  opacity: 0.9;
  padding-top: 7px;
}

.average-rating {
  position: relative;
  appearance: none;
  color: transparent;
  width: auto;
  display: inline-block;
  vertical-align: baseline;
  font-size: 25px;
}
